body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
     background: #F9F6EE;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  
  }
  


  
.light-mode {
    background-color: #F9F6EE;
    color: #333;
  }
  
  .dark-mode  {
    background-color: #101010;
    color: #fff;
  }
  
  .toggle-icon {
    font-size: 24px;  /* Icon size */
    cursor: pointer;  /* Pointer cursor on hover */
    position: fixed;  /* Fixed positioning relative to the viewport */
    top: 20px;        /* 20 pixels from the top */
    right: 20px;      /* 20 pixels from the right */
    z-index: 1000;    /* High z-index to ensure it is on top of other content */
  }
    
  .sound-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sound-wave {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sound-wave .bar {
    display: block;
    width: 2px;
    margin-right: 1px;
    background: #101010; /* Light mode olor */
    animation: sound 800ms linear infinite alternate;
    transition: background-color 0.3s; /* Transition on background-color */ 
    --bar-height: 90px; /* Default height variable */

        }
  
  .sound-wave .bar2{
    display: block;
    width: 2px;
    margin-right: 1px;
    height: 120px;
    background: #7C93BF;
    animation: sound 800ms linear infinite alternate;
    --bar-height: 90px; /* Default height variable */
  }
  /* Dark mode style for .bar */
.dark-mode .sound-wave .bar {
    background: #7C93BF; /* Dark mode color */
  }
  
  .sound-wave.stopped .bar {
    animation: stopSound 0.8s forwards; /* Apply stopping animation, make it fill forwards to hold the end state */
  }
  @keyframes reduceHeightFromCurrent {
    from {
      height: var(--current-height); 
    }
    to {
      height: 5px; 
      opacity: 0.5;
    }
  }
    
  @keyframes sound {
    0% {
      opacity: .35;
      height: 6px;
    }
    100% {
      opacity: 1;
      height: 46px;
    }
  }
  
  @keyframes sound2 {
    0% {
      opacity: .35;
      height: 6px;
    }
    100% {
      opacity: 1;
      height: 120px;
    }



  }


  .bar:nth-child(1) {
    height: 2px;
    animation-duration: 474ms;
  }
  
  .bar:nth-child(2) {
    height: 10px;
    animation-duration: 433ms;
  }
  
  .bar:nth-child(3) {
    height: 18px;
    animation-duration: 407ms;
  }
  
  .bar:nth-child(4) {
    height: 26px;
    animation-duration: 458ms;
  }
  
  .bar:nth-child(5) {
    height: 30px;
    animation-duration: 400ms;
  }
  
  .bar:nth-child(6) {
    height: 32px;
    animation-duration: 427ms;
  }
  
  .bar:nth-child(7) {
    height: 34px;
    animation-duration: 441ms;
  }
  
  .bar:nth-child(8) {
    height: 36px;
    animation-duration: 419ms;
  }
  
  .bar:nth-child(9) {
    height: 40px;
    animation-duration: 487ms;
  }
  
  .bar:nth-child(10) {
    height: 46px;
    animation-duration: 442ms;
  }
  
  .bar:nth-child(11) {
    height: 2px;
    animation-duration: 474ms;
  }
  
  .bar:nth-child(12) {
    height: 10px;
    animation-duration: 433ms;
  }
  
  .bar:nth-child(13) {
    height: 18px;
    animation-duration: 407ms;
  }
  
  .bar:nth-child(14) {
    height: 26px;
    animation-duration: 458ms;
  }
  
  .bar:nth-child(15) {
    height: 30px;
    animation-duration: 400ms;
  }
  
  .bar:nth-child(16) {
    height: 32px;
    animation-duration: 427ms;
  }
  
  .bar:nth-child(17) {
    height: 34px;
    animation-duration: 441ms; 
  }
  
  .bar:nth-child(18) {
    height: 36px;
    animation-duration: 419ms;
  }
  
  .bar:nth-child(19) {
    height: 40px;
    animation-duration: 487ms;
  }
  
  .bar:nth-child(20) {
    height: 46px;
    animation-duration: 442ms;
  }
  

